.bg-secondary-success { 
    background-color: #51B56D !important;
}
body { 
    font-family: "Rubik", sans-serif !important;
}


.text-secondary-success { 
    color: #51B56D;
}
.text-light-success { 
    color: #E0F2E5;
}
.bg-light-success { 
    background-color: #E0F2E5;
}
.navbar div.d-flex a:nth-child(1) { 
    background-color: #E0F2E5 !important;
}

.bg-light-purple { 
    background-color: #E9E4FB;
}
.text-purple { 
    color: #9A7EEB;
}

.fs-xl { 
    font-size: 2.8rem !important;
}

.animate__backInRight , 
.animate__backInLeft { 
    animation-duration: 1s;
}